[submodule "src/object_tracking/deps/pid"]
	path = src/object_tracking/deps/pid
	url = git@gitlab.ical.tw:b1065144/pid.git
[submodule "src/rosserial"]
	path = src/rosserial
	url = https://github.com/ros-drivers/rosserial.git
	branch = noetic-devel
